aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asn1crypto
attrs
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
distro
easyocr
et_xmlfile
faiss-cpu
filelock
filetype
frozenlist
fsspec
fuzzywuzzy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
imageio
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-text-splitters
langsmith
lazy_loader
MarkupSafe
marshmallow
mpmath
multidict
mypy-extensions
narwhals
networkx
ninja
numpy
openai
opencv-python-headless
openpyxl
orjson
packaging
pandas
pillow
platformdirs
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pyclipper
pycparser
pydantic
pydantic_core
pydantic-settings
pydeck
PyJWT
pyOpenSSL
pyparsing
PyPDF2
python-bidi
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rpds-py
rsa
s3transfer
safetensors
scikit-image
scikit-learn
scipy
sentence-transformers
setuptools
shapely
six
smmap
sniffio
snowflake-connector-python
sortedcontainers
SQLAlchemy
streamlit
sympy
tabulate
tenacity
threadpoolctl
tifffile
tokenizers
toml
tomlkit
torch
torchvision
tornado
tqdm
transformers
typing_extensions
typing-inspect
typing-inspection
tzdata
uritemplate
urllib3
watchdog
yarl
zstandard
